{% extends 'base.html' %}

{% block content%}
    <div class="main-block">
        <div class="row justify-content-center">
            <div class="cart">
                <a href="#">
                    <img src="" alt="">
                </a>
                <div class="">
                    <a href="#" class="cart-title">{{anime}}</a>
                    <ul class="main-info">
                        <li></li>
                        <li class="genres">
                            <ul>
                                <li>
                                    <a href=""></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}
