{% load static %}
<div class="row gx-1">
    <div class="row dark">
        Фильтр
    </div>
    <div class="row gy-3">
        <div class="card" style="padding-top: 1em;">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                </ul>
              </div>
        </div>
    </div>
</div>
<script src="{% static 'filter.js' %}"></script>
