{% load static %}
<div class="row">
    <div class="row bg-dark dark">
        Комментарии
    </div>
    <div class="row gy-2">
        <input type="text" class="form-control anime-slug" hidden value="{{anime.slug}}" name="anime">
        {% if user.is_authenticated %}
            {% url 'comments' as the_url %}
            <form action="" method="">
                {% csrf_token %}
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" name="comment"></textarea>
                    <button type="submit" class="btn btn-primary fetch">Оставить комментарий</button>
                </div>
            </form>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Войдите в свой аккаунт, чтобы оставлять комментарии
            </div>
        {% endif %}
    </div>
    <div class="row gy-2">
        <div class="col-md-12">
            <ul class="list-group list-group-flush comments">
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'comment.js' %}"></script>
