<div class="row">
    <div class="row bg-dark dark">
        Коментарии
    </div>
    <div class="row">
        Оставить комментарий
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6>Username</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis culpa illum sint animi molestias iste, blanditiis nesciunt nulla magnam aspernatur enim recusandae, corporis minus ipsam! Nulla labore vitae voluptates vel?</p>
                </li>
            </ul>
        </div>
    </div>
</div>